.title {
  text-align: center;
  margin-bottom: 30px;
}

.collectionContainer {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.showcaseUser {
  height: 100%;
}

.collectionCard {
  color: var(--ifm-heading-color);
  box-shadow: 0 1px 4px 0 rgb(0 0 0 / 25%);
  background-color: #292A2B;
  border-radius: 20px;
  margin-bottom: 40px;
  padding: 0;
  overflow: hidden;
}

html[data-theme="light"] .collectionCard {
  background: white;
}

.cardTop {
  padding: 20px;
}

.cardTop > a > h4 {
  margin: 0;
}

.cardPreview {
  margin: 0;
  padding: 0;
}

.cardPreview > a > img {
  width: 100%;
  margin: 0;
  padding: 0;
  display: block;
}

.cardLink {
  color: inherit;
  text-decoration: none;
  transition: inherit;
}

.cardLink:hover {
  color: inherit;
  text-decoration: none;
  transition: inherit;
}

.collectionGrid {
  display: flex;
  margin-left: -30px; /* gutter size offset */
  width: auto;
}

.collectionGridCol {
  padding-left: 30px; /* gutter size */
  background-clip: padding-box;
}

.inlineCollectionName {
  padding: 10px 20px 10px 20px;
  font-size: 12px;
}

.inlineCollectionName span {
  text-decoration: underline;
}
