.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 4rem;
}

@media (max-width: 1200px) {
    .container {
        justify-content: center;
    }
}

@media (max-width: 480px) {
    .container {
        margin-bottom: 2rem;
    }
}