.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 0.5rem;
    margin-bottom: 1.5rem;
}


@media (max-width: 1200px) {
    .container {
        justify-content: center;
    }
}

@media (max-width: 480px) {
    .container {
        margin-bottom: 2rem;
    }
}