.showcaseUser {
  height: 100%;
}

:global(.card__image) {
  max-height: 300px;
  overflow: hidden;
}

:global(.card__body) {
  height: 175px !important;
  overflow: hidden;
}

:global(.card) {
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.25);
}
