.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    gap: 10px;
    justify-items: center;
    align-items: center;

    margin: 1rem;
}

.container button:nth-child(2n+1):last-child {
    grid-column: span 2;
    justify-self: center;
}

.container button {
    width: 100%;
}

@media (max-width: 480px) {
    .container {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        gap: 0;
        margin: 0 0 .25rem 0;
    }

    .container button {
        width: 100%;
        margin: .25rem;
    }
}