.container {
    text-align: left;
    padding: .5rem;
    align-self: flex-start;
    margin-bottom: .5rem;
    width: 100%;
}

.container.aiMessage {

}

.heading {
    font-weight: bold;
    margin-bottom: 0.5rem;
}

.container .content {
    margin: 0;
}

.container .content p, .container .content li  {
    margin: 0.5rem 0;
}

.container .content > * {
    font-size: 1rem;
    line-height: 120%;
}

.content.loader svg {
    width: 1rem;
    animation: rotate .8s ease-in-out infinite;
}

.content blockquote {
    margin-top: .5em;
}

.content blockquote, .content blockquote > * {
    font-size: 1rem!important;
}

.retryButton {
    padding: 0;
    margin: 0;
    background: none;
    border: none;
    width: .75rem;
    height: .75rem;
    cursor: pointer;
}

.retryButton svg {
    width: .75rem;
}

.retryButton svg path {
    fill: var(--ifm-color-content-secondary);
    transition: .2s ease-in;
}

.retryButton:hover svg path {
    fill: var(--ifm-font-color-base)
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}