:root {
    --hint-card-border-color: rgba(0, 0, 0, .25);
}

.container {
    background: transparent;

    border: 1px solid var(--hint-card-border-color);
    border-radius: 0.5rem;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    cursor: pointer;

    width: 11rem;
    height: 6rem;
    padding: .5rem;

    color: var(--custom-note-color);
    text-align: left;
    font-size: 0.938rem;

    transition: .2s ease-in;
}

[data-theme='dark']:root {
    --hint-card-border-color: rgba(255, 255, 255, .15);
}

.container:hover, .container:focus-visible {
    background: var(--ifm-background-surface-color);
}

.container svg {
    width: 1rem;
    height: 1rem;

    margin-bottom: .5rem;
}

.container svg path {
    stroke: rgba(0, 0, 0, .85);
}

[data-theme='dark'] .container svg path {
    stroke: var(--custom-note-color);
}

@media (max-width: 1200px) {
    .container {
        flex: 1 1 45%;
        margin: 0.5rem;
    }
}

@media (max-width: 480px) {
    .container {
        font-size: 0.813rem;
        height: auto;
    }
}