/* stylelint-disable docusaurus/copyright-header */
/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

@import url("../../static/css/bootstrap.css");
@import url("../../static/css/cookie-banner.css");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #ff6111;
  --ifm-color-primary-dark: #f55200;
  --ifm-color-primary-darker: #e74e00;
  --ifm-color-primary-darkest: #be4000;
  --ifm-color-primary-light: #ff732c;
  --ifm-color-primary-lighter: #ff7c3a;
  --ifm-color-primary-lightest: #ff9763;
  --ifm-code-font-size: 95%;
}

.docusaurus-highlight-code-line {
  background-color: rgb(72, 77, 91);
  display: block;
  margin: 0 calc(-1 * var(--ifm-pre-padding));
  padding: 0 var(--ifm-pre-padding);
}

/* DocSearch */
html[data-theme="light"] .DocSearch {
  /* --docsearch-primary-color: var(--ifm-color-primary); */
  /* --docsearch-text-color: var(--ifm-font-color-base); */
  --docsearch-muted-color: var(--ifm-color-secondary-darkest);
  --docsearch-container-background: rgba(94, 100, 112, 0.7);
  /* Modal */
  --docsearch-modal-background: var(--ifm-color-secondary-lighter);
  /* Search box */
  --docsearch-searchbox-background: var(--ifm-color-secondary);
  --docsearch-searchbox-focus-background: var(--ifm-color-white);
  /* Hit */
  --docsearch-hit-color: var(--ifm-font-color-base);
  --docsearch-hit-active-color: var(--ifm-color-white);
  --docsearch-hit-background: var(--ifm-color-white);
  /* Footer */
  --docsearch-footer-background: var(--ifm-color-white);
}

html[data-theme="dark"] .DocSearch {
  --docsearch-text-color: var(--ifm-font-color-base);
  --docsearch-muted-color: var(--ifm-color-secondary-darkest);
  --docsearch-container-background: rgba(47, 55, 69, 0.7);
  /* Modal */
  --docsearch-modal-background: var(--ifm-background-color);
  /* Search box */
  --docsearch-searchbox-background: var(--ifm-background-color);
  --docsearch-searchbox-focus-background: var(--ifm-color-black);
  /* Hit */
  --docsearch-hit-color: var(--ifm-font-color-base);
  --docsearch-hit-active-color: var(--ifm-color-white);
  --docsearch-hit-background: var(--ifm-color-emphasis-100);
  /* Footer */
  --docsearch-footer-background: var(--ifm-background-surface-color);
  --docsearch-key-gradient: linear-gradient(
    -26.5deg,
    var(--ifm-color-emphasis-200) 0%,
    var(--ifm-color-emphasis-100) 100%
  );
}

.menu--responsive .menu__button {
  bottom: 6rem;
}

.outline {
  border: 1px solid #999;
  border-radius: 5px;
}

.diagram-thumbnail {
  width: 350px;
  float: right;
  margin: 0px 10px;
  cursor: pointer;
}

.diagram-thumbnail img:hover {
  cursor: pointer;
  box-shadow: -1px -1px 5px #333;
}

.diagram-thumbnail.large {
  width: 400px;
}

.em-quote {
  font-size: 1.5em;
}

.joe-bot-demo {
  border: 1px solid #666;
  border-radius: 5px;
}

.footnotes {
  font-size: 10pt;
  color: #777;
  margin-top: 30px;
  list-style-type: none;
  padding-left: 0px;
}

.footer__links div:first-child {
  flex: auto;
}

.clear::after {
  content: "";
  clear: both;
  display: table;
}

/* IndexPage */
.learn-more {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  color: #ff6112;
}

.btn {
  font-size: 18px;
  text-align: center;
  color: #fff;
  padding: 6px 24px;
  transition: background 1s ease;
  margin: 0 16px;
}

.btn1 {
  background: #ff6112;
}

.btn1:hover {
  background: #cd4400;
  color: #fff;
}

.btn2 {
  background: #808080;
}

.btn2:hover {
  background: #5e5e5e;
  color: #fff;
}

.btn3 {
  border: 1px solid #ff6112;
  color: var(--ifm-heading-color);
}

.btn3:hover {
  border: 1px solid #ff6112;
  background: #ff6112;
  color: #fff;
}

.btn4 {
  background: red;
}

.btn4:hover {
  background: #ff4444;
  color: #fff;
}

.h-d {
  display: none;
}

.banner {
  padding: 20px 0;
}

html[data-theme="light"] .banner {
  background: linear-gradient(180deg, #ffe1d2 0%, #ffffff 100%);
  min-height: 80vh;
}

html[data-theme="dark"] .banner {
  min-height: 80vh;
}

.banner .row {
  min-height: 80vh;
}

.banner h1 {
  font-weight: bold;
  font-size: 42px;
  line-height: 42px;
  color: #ff6112;
  margin: 0;
}

.banner p {
  font-weight: 300;
  font-size: 28px;
  line-height: 37px;
  margin: 30px 0;
}

html[data-theme="light"] .companies {
  /*background: #f9f9f9; -- colors have been saved in case the company list needs to be restored to its original position*/
  padding-top: 20px;
  padding-bottom: 10px;
}
html[data-theme="dark"] .companies {
  /*background: #131313;*/
  padding-top: 20px;
  padding-bottom: 10px;
}

.companies .row {
  justify-content: center;
}

.companies a {
  display: block;
  margin: 14px 0;
  color: #969696;
  text-decoration: none;
}

.companies a b {
  font-weight: bold;
  font-size: 26px;
  line-height: 30px;
}

html[data-theme="light"] .blog-sec {
  padding: 9px 0 52px 0;
}

html[data-theme="dark"] .blog-sec {
  padding: 9px 0 52px 0;
}

.blog-sec h3 {
  font-weight: bold;
  font-size: 32px;
  line-height: 37px;
  margin-bottom: 25px;
  margin-top: 50px;
}

/* Reduce font size for docusaurus blog */
header h2, header h1 {
  font-size: 2rem !important;
}

.products-btn-container {
  margin: 25px 0;
}

.products-btn-container a {
  font-size: 16px;
}

.products-btn-container a:first-child {
  margin-left: 0;
} 

.six-sec {
  min-height: 780px;
  padding: 9px 0 73px 0;
}

.six-sec .row {
  margin: 69px 0;
}

.six-sec .row:last-of-type {
  margin-bottom: 0;
}
 
.six-sec h2 {
  font-weight: 300;
  font-size: 20px;
  line-height: 35px;
  margin-top: 43px;
}

.six-sec h3 {
  font-weight: bold;
  font-size: 28px;
  line-height: 37px;
  margin: 50px 0 35px 0;
}

.six-sec .single h2 {
  margin-top: 36px;
}

html[data-theme="light"] .multi-sec {
  background: #f9f9f9;
  padding: 64px 0 64px 0;
  min-height: 1753px;
}

html[data-theme="dark"] .multi-sec {
  background: #131313;
  padding: 64px 0 64px 0;
  min-height: 1753px;
}

.multi-sec h3 {
  font-weight: bold;
  font-size: 32px;
  line-height: 37px;
  color: #ff6112;
}

.multi-sec img {
  margin-top: 75px;
}

.multi-sec img.lhs {
  margin-left: 45px;
}

.multi-sec img.rhs {
  margin-left: 30px;
  margin-top: 80px;
}

.multi-sec h4 {
  font-weight: normal;
  font-size: 28px;
  line-height: 35px;
  margin-top: 80px;
}

.multi-sec h4 br {
  margin-top: 0px;
}

.multi-sec p {
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 28px;
  margin-top: 25px;
}

.multi-sec .btn {
  margin-top: 80px;
}

html[data-theme="light"] .source-sec {
  background: #f9f9f9;
}

html[data-theme="dark"] .source-sec {
  background: #131313;
}
.source-sec {
  padding: 61px 0 82px 0;
}

.source-sec h3 {
  font-weight: normal;
  font-size: 28px;
  line-height: 37px;
}

.source-sec .row.text-center p {
  font-weight: 300;
  font-size: 20px;
  line-height: 28px;
  margin-top: 25px;
}

.source-sec .row.text-center p img {
  vertical-align: -2px;
}

.source-sec .row.text-center button {
  margin-top: 18px;
  margin-bottom: 13px;
}

.user-case2-ml {
  display: none;
}

.github-lg {
  display: block;
}

.github-lg .github-star-placeholder {
  width: 56px;
}

.github-lg .github-btn {
  width: 94px;
}

table.docs-home * {
  border: none;
}

table.docs-home tr:nth-child(2n) {
  background-color: transparent;
}

table.docs-home td {
  vertical-align: top;
}

.community-buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 20px;
  padding: 20px;
}

@media (min-width: 991px) and (max-width: 1199px) {
  .joe-bot {
    margin-top: -32px !important;
  }
}

@media (max-width: 1020px) {
  .navbar__item  {
    display: none;
  }

  .navbar__toggle {
    display: block;
  }
}

@media (min-width: 768px) and (max-width: 990px) {
  .user-case2-ml {
    display: flex;
  }
  .user-case2-lg {
    display: none;
  }
  .joe-bot {
    margin-top: -32px !important;
  }
  .h-d {
    display: block;
  }
  .h-m {
    display: none;
  }
  .banner {
    min-height: 540px;
  }
  .banner h1 {
    font-size: 32px;
    line-height: 37px;
  }
  .banner p {
    font-size: 26px;
    line-height: 30px;
  }
  .banner .btn {
    margin-bottom: 18px;
  }
  .companies {
    padding-bottom: 10px;
  }
  .six-sec h2 {
    line-height: 28px;
  }
  .multi-sec h3 {
    font-size: 26px;
    line-height: 30px;
  }
  .multi-sec {
    padding: 64px 0 64px 0 !important;
  }
  .multi-sec img.lhs {
    margin: 30px auto 0 auto;
    display: block;
  }
  .multi-sec h4 {
    margin-top: 30px;
    font-size: 24px;
    line-height: 28px;
  }
  .multi-sec p {
    font-size: 18px;
    line-height: 23px;
  }
  .multi-sec img.rhs {
    margin: 50px auto 0 auto;
    width: 161px;
    display: block;
  }
  .multi-sec h4.lst {
    margin-top: 10px;
  }
  .source-sec {
    padding: 56px 0;
  }
  .source-sec h3 {
    font-size: 24px;
    line-height: 30px;
  }
  .source-sec .row.text-center p {
    font-size: 18px;
    line-height: 23px;
  }
  .multi-sec{
    min-height:0 !important;
  }
}


@media (max-width: 767px) {
  .h-d {
    display: block;
  }

  .multi-sec .row { 
    flex-direction: column-reverse;
  }

  .diagram-thumbnail, .diagram-thumbnail.large {
    width: auto;
    margin: 0;
  }
  .h-m {
    display: none;
  }
  .banner {
    min-height: 540px;
  }
  .banner h1 {
    font-size: 32px;
    line-height: 37px;
  }
  .banner p {
    font-size: 26px;
    line-height: 30px;
  }
  .banner .btn {
    margin-bottom: 18px;
  }
  .companies {
    padding-bottom: 10px;
  }
  .six-sec .btn1, .btn2-margin {
    margin-bottom: 18px;
  }
  .six-sec .row {
    margin: 40px 0;
  }
  .multi-sec h3, .six-sec h3  {
    font-size: 24px;
    line-height: 30px;
  }
  .multi-sec {
    padding: 64px 0 64px 0 !important;
  }
  .multi-sec img.lhs {
    margin: 30px auto 0 auto;
    display: block;
  }
  .multi-sec h4 {
    margin-top: 30px;
    font-size: 24px;
    line-height: 28px;
  }
  .multi-sec p {
    font-size: 18px;
    line-height: 23px;
  }
  .multi-sec img.rhs {
    margin: 50px auto 0 auto;
    width: 161px;
    display: block;
  }
  .multi-sec h4.lst {
    margin-top: 10px;
  }
  .source-sec {
    padding: 56px 0;
  }
  .source-sec h3 {
    font-size: 24px;
    line-height: 30px;
  }
  .source-sec .row.text-center p {
    font-size: 18px;
    line-height: 23px;
  }
}

@media (max-width: 579px) {
  .multi-sec {
    text-align: center;
  }

  .six-sec h2, .banner p, .multi-sec p, .btn  {
    font-size: 16px;
    line-height: initial;
  }

  .footer__links  {
    display: grid;
    grid-template-columns: 1fr;
  }

  .multi-sec h3, .six-sec h3 {
    font-size: 20px;
  }

  .multi-sec h4 br {
    display: none;
  }

  .community-buttons {
    flex-direction: column;
    padding: 10px;
  }

  .products-btn-container {
    display: flex;
    gap: 1rem;
    flex-direction: column;
    max-width: fit-content;
  }
  
  .products-btn-container .btn2 {
    margin-left: 0;
  }
}

@media (max-width: 454px) {
  .multi-sec .btn1 {
    margin-top: 60px;
  }

  .multi-sec .btn2 {
    margin-top: 18px;
  }
}

#hubspotForm {
  margin: 50px;
}

.navbar__title {
  font-size: 1.4rem;
  line-height: 2rem;
  font-family: 'Encode Sans',roboto,sans-serif;
  font-weight: 400;
}

table.minimal-style {
  border: 0;
}

table.minimal-style > tr {
  border: 0;
  background-color: inherit;
}

table.minimal-style > tr > td {
  border: 0;
  padding: .5em 2em .5em 0;
}

html[data-theme="light"] .avatar__name > a {
  color: var(--ifm-color-base);
}

html[data-theme="dark"] .avatar__name > a {
  color: var(--ifm-color-white);
}

.supportOffer {
  display: block;
  margin-top: 0px;
  margin-bottom: 30px;
  background-color: #ff6112;
  border-radius: 20px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 8px;
  padding-bottom: 8px;
  color: var(--ifm-color-white);
}

.supportOffer:hover {
  color: var(--ifm-color-white);
}

.community-buttons > a {
  font-size: 20px;
}

.sign-in-button, .console-button, .consulting-button {
  font-weight: var(--ifm-font-weight-semibold);
  padding: 0.275rem 1.25rem;
  vertical-align: middle;
  border-radius: 0.25rem;
}

.navbar-sidebar__item div[class="menu__list-item"]:not(:first-of-type), .github-sm, .navbar-sidebar__item .menu__list-item--sign-in-button, .navbar-sidebar__item .menu__list-item--console-button, .navbar-sidebar__item .menu__list-item--consulting-button {
  margin-top: 1rem;
  padding: var(--ifm-menu-link-padding-vertical)
      var(--ifm-menu-link-padding-horizontal);
}

.navbar a:hover{
  text-decoration: none;
}

.navbar .navbar__brand:hover {
  color: inherit;
}

html[data-theme="light"] .sign-in-button,  html[data-theme="light"] .consulting-button {
  color: var(--ifm-color-black);
  border: 1px solid #ff6112;
}

html[data-theme="dark"] .sign-in-button, html[data-theme="dark"] .consulting-button {
  color: var(--ifm-color-base);
  background-color: #ff6112;
  border: 1px solid transparent;
}

html[data-theme="light"] .console-button{
  color: var(--ifm-color-black);
  border: 1px solid #0F879D;
}

html[data-theme="dark"] .console-button{
  color: var(--ifm-color-base);
  background-color: #0F879D;
  border: 1px solid transparent;
}

.github-container {
  display: flex;
  overflow: hidden;
  font-size: 0;
  line-height: 0;
  white-space: nowrap;
}

.github-container .github-btn,
.github-container .github-star-placeholder {
  border-color: #ccd1d5;
  border-radius: 0.25em;
  position: relative;
  display: inline-flex;
  align-items: center;
  font-weight: 500;
  cursor: pointer;
  user-select: none;
  border: 1px solid;
  padding: 5px 11px;
  font-size: 14px;
  line-height: 1rem;
  color: #24292f;
  border-color: rgba(27, 31, 36, 0.15);
  border-top-color: rgba(27, 31, 36, 0.15);
  border-right-color: rgba(27, 31, 36, 0.15);
  border-bottom-color: rgba(27, 31, 36, 0.15);
  border-left-color: rgba(27, 31, 36, 0.15);
  flex: 1;
  justify-content: center;
}

.github-btn svg {
  width: 18px;
  height: 18px;
  margin-right: 0.25rem;
}

.github-container .github-btn {
  background-color: #ebf0f4;
  background-image: linear-gradient(180deg, #f6f8fa, #ebf0f4 90%);
  border-right-color: rgba(27, 31, 36, 0.15);
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.github-container .github-star-placeholder {
  background-color: #fff;
  border-left: 0;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.github-container .github-star-placeholder:hover {
  color: #0969da;
}

.github-container .github-btn:hover {
  color: #24292f;
  background-color: #e9ebef;
  background-image: linear-gradient(180deg, #f3f4f6, #e9ebef 90%);
}

.navbar__inner .github-sm {
  display: none;
}

@media (max-width: 1020px) {
  .github-lg {
    display: none;
  }

  .github-sm .github-btn, 
  .github-sm .github-star-placeholder {    
    font-size: 1rem;
  }

  .github-btn svg {
    width: 20px;
    height: 20px;
  }

  .github-sm {
    display: flex;
    padding-top: 1.75rem;
  }

  .sign-in-button, .console-button, .consulting-button {
    display: flex;
    width: 162px;
    justify-content: center;
  }
}
/* Start - Card styling for resources and careers page */

.showcaseUser {
  height: 100%;
}

.avatar__name {
  max-height: 100%;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  font-size: 18px;
}

.avatar, .avatar__intro {
  display: grid;
}

.avatar__intro {
  justify-content: start;
  grid-template-rows: 62px 1fr;
}

.careers .avatar__subtitle {
  -webkit-line-clamp: initial;
  margin: 0 0 1rem 0;
}

.avatar__subtitle {
  max-height: 100%;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.card__image {
  max-height: 100%;
  height: 100%;
  overflow: hidden;
}

.card__image img {
  width: 100%;
  height: 100%;
}

.resources  .card__image img {
  object-fit: cover;
}

.card__body {
  overflow: hidden;
}

.card:not(.careers) {
  display: grid;
  grid-template-rows: 280px 180px 1fr;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.25);
}

.card__row {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-flow: dense;
  margin-top: 2rem;
  margin-left: -15px;
  margin-right: -15px;
}

@media (max-width: 1439px) {
  .card:not(.careers), .card {
    grid-template-rows: 240px 180px 1fr;
  }
}

@media (max-width: 1200px) {
  .card__row {
    grid-template-columns: repeat(2, 1fr);
  }

  .card:not(.careers), .card {
    grid-template-rows: 305px 180px 1fr;
  }
}

@media (max-width: 991px) {
  .card__row {
    grid-template-columns: repeat(1, 1fr);
  }

  .card:not(.careers), .card {
    grid-template-rows: auto 180px 1fr;
  }

  .card img {
    object-fit: cover;
    height: auto;
  }
}

/* Blog page TOC (table of contents) fix after upodate */
.row .col[class*=col--] {
  max-width: var(--ifm-col-width);
}

.row:has(.col[class*="authorCol_"]:nth-of-type(2)) .col[class*="authorCol_"] {
  flex: 0 0 230px!important;
}

.row .col[class*="authorCol_"] .avatar__intro:has(.avatar__subtitle) {
  grid-template-rows: auto 1fr;
}

.blog-responsive-image-wrapper img {
  width: 73%;
  height: auto;
}

@media (max-width: 600px) {
  .blog-responsive-image-wrapper img {
    width: 100%;
  }
}

/* Consulting page */
.testimonials-container {
  display: grid;
  gap: 20px;
  margin-top: 30px;
  padding: 20px;
}

.testimonial {
  padding: 20px;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  background-color: #ffffff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.testimonial blockquote {
  margin: 0;
  font-style: italic;
  color: #333333;
}

.testimonial footer {
  margin-top: 10px;
  font-size: 0.9rem;
  color: #555555;
}

.cta-button {
  display: inline-block;
  margin-top: 30px;
  padding: 12px 20px;
  font-size: 1.2rem;
  background-color: #007bff;
  color: white;
  text-decoration: none;
  border-radius: 8px;
  transition: background-color 0.3s ease;
  text-align: center;
}

.cta-button:hover {
  background-color: #0056b3;
}
/* -- */