.tableContainer {
  max-width: 750px;
  margin: 6.7rem auto 2.75rem auto;
}

.table {
  display: table;
  width: 100%;
  margin: 30px auto 0 auto;
  scroll-margin-top: 60px;
}

.tableNote {
  font-size: 14px;
  text-align: center;
}

.tableButton {
  font-size: 16px;
  margin-top: 20px;
  align-items: flex-start;
  display: flex;
  width: max-content;
  margin-left: 0;
}

.table p {
  margin-bottom: 0;
}

.table td {
  padding: 2px;
  font-size: 14px;
}

.table td:first-child {
  text-align: start;
  padding: 0 24px;
  max-width: 150px;
}

.table th {
  padding: 0.5rem 5px;
  font-size: 15px;
  white-space: nowrap;
}

.tableInstance {
  width: max-content;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0 8px;
}

.recommended {
  color: #ff6112;
  font-style: italic;
}

.notes {
  display: flex;
  flex-direction: column;
  justify-self: start;
  text-align: start;
  margin: 20px 0;
}

.notes h2 {
  font-size: 18px;
}

.notes ul {
  text-align: start;
  font-size: 14px;
}

.notes li:not(:last-child) {
  margin-bottom: 14px;
}

.tableHeader {
  background-color: #ff6112;
  color: #fff;
}

.tableHeader th:first-child {
  width: max-content;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0 24px;
  margin-top: 8px;
  margin-bottom: 8px;
  border: 0;
}

@media (max-width: 575px) {
  .table {
    display: block;
  }

  .table th {
    padding: 0.5rem 1rem;
  }

  .tableContainer {
    margin-top: 4.75rem;
  }
}

.loadingContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.loadingSpinner {
  border: 4px solid rgba(0, 0, 0, 0.3);
  border-top: 4px solid #ff6112;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}