
.inputContainer {
    width: 100%;
    margin-top: auto;
    display: flex;
    align-items: center;
    flex: 1;
}

.textarea {
    width: 100%;
    min-height: 2.125rem;
    max-height: 6.75rem;
    background: var(--ifm-background-surface-color);
    border: 1px solid #808080;
    border-radius: 6px;
    color: var(--ifm-font-family-base);
    font-size: 1rem;
    line-height: 120%;
    padding: 6px 8px;
    resize: none;
}

.textarea::placeholder {
    color: rgba(0, 0, 0, 0.9);
}

[data-theme="dark"] .textarea::placeholder {
    color: rgba(255, 255, 255, 0.8);
}

.sendButton {
    margin: 0;
    padding: 0;
    border-radius: 0;
    width: 3rem;
    height: 2rem;
    background: none;
    border: none;

    display: flex;
    align-items: center;
    justify-content: center;

    cursor: pointer;
}

.sendButton svg {
    width: 1.8rem;
}

.sendButton:disabled {
    cursor: auto;
}

.sendButton:disabled svg {
    opacity: .7;
}

.sendButton svg path {
    fill: var(--ifm-color-content-secondary);
    transition: .2s ease-in;
}

.sendButton:not(:disabled):hover svg path {
    fill: var(--ifm-font-color-base)
}

@media (max-width: 480px) {
    .textarea {
        max-height: 5.563rem;
    }
}