.root {
  display: inline-flex;
  margin-top: 60px;
}

.root:hover .links {
  opacity: 1;
}

.root:hover .note {
  transform: none;
}

.avatar {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  margin-right: 15px;
}

.content {
  font-size: 16px;
  line-height: normal;
}

.name {
  font-weight: bold;
  font-size: 16px;
  margin: 0;
}

.role {
  margin: 0;
}

.links {
  font-size: 0;
  display: flex;
  margin-top: 8px;
  transition: opacity .2s ease-out;
  opacity: 0;
}

.link {
  margin-right: 8px;
  color: var(--ifm-font-color-base);
}

.note {
  margin: 8px 0 0 0;
  transform: translateY(-26px);
  transition: transform .2s ease-out;
}
